@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=cyrillic-ext,latin);

body {
  font-weight: 300;
  font-family: Roboto;
  font-size: 16px;
  overflow: hidden;
}

.App {
  height: 100vh;
}
