.Browser {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;
  overflow: hidden;

  &-Artists {
    top: 0;
    left: 0;
    width: calc(50% \+ 1px);
    height: 50%;
    position: absolute;

  }

  &-Albums {
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    position: absolute;
  }

  &-Tracks {
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(50% \+ 1px);
    position: absolute;
  }

  &-Row {
    text-indent: 8px;
    line-height: 23px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    -webkit-user-select: none;
  }

  &-Section {
    &-Title {
      line-height: 23px;
      text-indent: 8px;
      background: rgba(#000, 0.1);
      border-top: 1px solid #ccc;
    }
  }
}
